 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!-- Add your CSS here -->
</head>
<body>

<div class="container">
    <h2>Log In to Friendster</h2>
    <form method="post" action="{% url 'page_view_name' %}"> <!-- Redirect to login_view_name -->
        {% csrf_token %}
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <button type="submit">Log In</button>
        
    </form>
    <p>Don't have an account? <a href="{% url 'home' %}">Register here</a></p>
    

</div>

</body>
</html>
